*.ipynb
*.json
*.pickle
*.h5
__pycache__
*pyc
src/src_workspace.code-workspace
src/models/cnn/29_06_2020-20-35/model_history
src/models/cnn/29_06_2020-20-35/model_summary.txt
src/models/cnn/29_06_2020-20-35/plots/binary_accuracy.png
src/models/cnn/29_06_2020-20-35/plots/loss.png
src/models/cnn/29_06_2020-20-35/plots/precision.png
src/models/cnn/29_06_2020-20-35/plots/recall.png
src/models/min_max_pickles/high_relevances.npy
src/models/min_max_pickles/neuron_1_relevances.npy
src/models/min_max_pickles/neuron_2_relevances.npy
src/models/min_max_pickles/neuron_3_relevances.npy
src/models/min_max_pickles/neuron_4_relevances.npy
src/models/min_max_pickles/neuron_5_relevances.npy
src/models/min_max_pickles/neuron_6_relevances.npy
src/models/min_max_pickles/neuron_7_relevances.npy
src/models/min_max_pickles/neuron_8_relevances.npy
src/models/min_max_pickles/neuron_9_relevances.npy
src/models/min_max_pickles/neuron_10_relevances.npy
src/models/min_max_pickles/neuron_11_relevances.npy
src/models/min_max_pickles/neuron_12_relevances.npy
src/models/min_max_pickles/neuron_13_relevances.npy
src/models/min_max_pickles/neuron_14_relevances.npy
src/models/min_max_pickles/neuron_15_relevances.npy
src/models/min_max_pickles/neuron_16_relevances.npy
src/models/min_max_pickles/neuron_17_relevances.npy
src/models/min_max_pickles/neuron_18_relevances.npy
src/models/min_max_pickles/neuron_19_relevances.npy
src/models/min_max_pickles/neuron_20_relevances.npy
src/models/min_max_pickles/neuron_21_relevances.npy
src/models/min_max_pickles/neuron_22_relevances.npy
src/models/min_max_pickles/neuron_23_relevances.npy
src/models/min_max_pickles/neuron_24_relevances.npy
src/models/min_max_pickles/neuron_25_relevances.npy
src/models/min_max_pickles/neuron_26_relevances.npy
src/models/min_max_pickles/neuron_27_relevances.npy
src/models/min_max_pickles/neuron_28_relevances.npy
src/models/min_max_pickles/neuron_29_relevances.npy
src/models/min_max_pickles/neuron_30_relevances.npy
src/models/min_max_pickles/neuron_31_relevances.npy
src/models/min_max_pickles/neuron_32_relevances.npy
src/models/min_max_pickles/neuron_33_relevances.npy
src/models/min_max_pickles/neuron_34_relevances.npy
src/models/min_max_pickles/neuron_35_relevances.npy
src/models/min_max_pickles/neuron_36_relevances.npy
src/models/min_max_pickles/neuron_37_relevances.npy
src/models/min_max_pickles/neuron_38_relevances.npy
src/models/min_max_pickles/neuron_39_relevances.npy
src/models/min_max_pickles/neuron_40_relevances.npy
src/models/min_max_pickles/neuron_41_relevances.npy
src/models/min_max_pickles/neuron_42_relevances.npy
src/models/min_max_pickles/neuron_43_relevances.npy
src/models/min_max_pickles/neuron_44_relevances.npy
src/models/min_max_pickles/neuron_45_relevances.npy
src/models/min_max_pickles/neuron_46_relevances.npy
src/models/min_max_pickles/neuron_47_relevances.npy
src/models/min_max_pickles/neuron_48_relevances.npy
src/models/min_max_pickles/neuron_49_relevances.npy
src/models/min_max_pickles/neuron_50_relevances.npy
src/models/min_max_pickles/neuron_51_relevances.npy
src/models/min_max_pickles/neuron_52_relevances.npy
src/models/min_max_pickles/neuron_53_relevances.npy
src/models/min_max_pickles/neuron_54_relevances.npy
src/models/min_max_pickles/neuron_55_relevances.npy
src/models/min_max_pickles/neuron_56_relevances.npy
src/models/min_max_pickles/neuron_57_relevances.npy
src/models/min_max_pickles/neuron_58_relevances.npy
src/models/min_max_pickles/neuron_59_relevances.npy
src/models/min_max_pickles/neuron_60_relevances.npy
src/models/min_max_pickles/neuron_61_relevances.npy
src/models/min_max_pickles/neuron_62_relevances.npy
src/models/min_max_pickles/neuron_63_relevances.npy
src/models/min_max_pickles/neuron_64_relevances.npy
src/models/min_max_pickles/neuron_65_relevances.npy
src/models/min_max_pickles/neuron_66_relevances.npy
src/models/min_max_pickles/neuron_67_relevances.npy
src/models/min_max_pickles/neuron_68_relevances.npy
src/models/min_max_pickles/neuron_69_relevances.npy
src/models/min_max_pickles/neuron_70_relevances.npy
src/models/min_max_pickles/neuron_71_relevances.npy
src/models/min_max_pickles/neuron_72_relevances.npy
src/models/min_max_pickles/neuron_73_relevances.npy
src/models/min_max_pickles/neuron_74_relevances.npy
src/models/min_max_pickles/neuron_75_relevances.npy
src/models/min_max_pickles/neuron_76_relevances.npy
src/models/min_max_pickles/neuron_77_relevances.npy
src/models/min_max_pickles/neuron_78_relevances.npy
src/models/min_max_pickles/neuron_79_relevances.npy
src/models/min_max_pickles/neuron_80_relevances.npy
src/models/min_max_pickles/neuron_81_relevances.npy
src/models/min_max_pickles/neuron_82_relevances.npy
src/models/min_max_pickles/neuron_83_relevances.npy
src/models/min_max_pickles/neuron_84_relevances.npy
src/models/min_max_pickles/neuron_85_relevances.npy
src/models/min_max_pickles/neuron_86_relevances.npy
src/models/min_max_pickles/neuron_87_relevances.npy
src/models/min_max_pickles/neuron_88_relevances.npy
src/models/min_max_pickles/neuron_89_relevances.npy
src/models/min_max_pickles/neuron_90_relevances.npy
src/models/min_max_pickles/neuron_91_relevances.npy
src/models/min_max_pickles/neuron_92_relevances.npy
src/models/min_max_pickles/neuron_93_relevances.npy
src/models/min_max_pickles/neuron_94_relevances.npy
src/models/min_max_pickles/neuron_95_relevances.npy
src/models/min_max_pickles/neuron_96_relevances.npy
src/models/min_max_pickles/neuron_97_relevances.npy
src/models/min_max_pickles/neuron_98_relevances.npy
src/models/min_max_pickles/neuron_99_relevances.npy
src/models/min_max_pickles/neuron_100_relevances.npy
